@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body,h1,h2,h3,h4,h5,h6{font-family: "Roboto Black";}
@font-face
{font-family: "ComicSansMS-Bold";
src: url(../fonts/../fonts/ComicSansMS-Bold.woff);}
.img-w{width: 100%;}
.position{position: absolute;}
.bg-color{background: #f3b956;}
.logo-ctrl{width: 150px;}
.navbar{margin: 5px;}
.height{height: 85px;}
.navbar ul{margin: 0; padding: 0; width: 100%;}
.navbar ul li{margin: 28px 15px 2px 10px;font-size: 18px; font-family: "Roboto";font-weight: 500;float:left;list-style: none;}
.navbar ul li a{color: white;text-decoration: none;padding: 2px 20px;font-size: 16px;display: block;}
.navbar ul li a:hover{background: url("../images/nav-hover.png");background-repeat: no-repeat;background-size: cover;background-position: center;}
.top-nav-icon{margin: 25px 0;padding: 0;float: left;/* width: 100%; */}
.top-nav-icon li{margin: 0;padding: 0;display: inline-block;list-style: none;margin-right: 15px;}
.top-nav-icon li a{color: black;text-decoration: none;display: block;background-color:#ce862b;border-radius: 50%;width: 35px;height: 35px;line-height: 35px;text-align: center;font-size: 18px;}
.top-nav-icon li a:hover{color:white;}
.call{float: right;margin-top: 22px;margin-right: 10px;}
.call a{text-decoration: none;padding: 10px 20px;color:#f3b956;background:#FFFFFF;border-radius: 8px;display: inline-block;font-family: "roboto";font-style: italic;}
.call a:hover{color: antiquewhite;}
.banner{background: #f3b956;}
.img-burger{width: 100%;}
.img-burger:hover{}
.cloud-bg{position: relative;}
.cloud-bg:after{content: '';position: absolute;background: url( "../images/body dsgine.png");background-repeat: no-repeat;background-size: auto;bottom: 0;width: 100%;height: 50px;}
.transition{transform: scale3d(2)}
.bg-below{content: '';
    background-image: url( "../images/bg-burger.png");
    background-repeat: no-repeat;
    background-size: contain;}
.bg-img-banner{position: relative;
    display: inline-block;
    padding: 15px 10px;
    font-weight: bold;}
.burger-buy{border: solid white 1px;border-radius: 10px;padding: 10px;background:#f3b956;color: white;}
h1{font-size:60px;}
.body-sec2{content:'';background:url("../images/../images/bg-body2.png");background-repeat:no-repeat;background-size:auto;width:100%;height: auto;}
.body-sec3{content:'';background:url("../images/../images/sec3-bg.png");background-repeat:no-repeat;background-size:auto;width:100%;}
.pop-menu{position: absolute;}
.pizza-burger a{text-decoration: none;background-image:url("../images/pizza &burger-bg.png");background-repeat: no-repeat;background-size: auto;position: absolute;width: auto;}
.main{float:left;}
.food-mood{float:left; margin-top:60px; margin-left:10px;}
.food-mood h2{ font-size: 18px;}
.bg-img-menu{content: ''; background-image: url( "../images/menu-bg.png");background-repeat: no-repeat;background-size: auto;width:100%;height:auto;float: left;}
.menu-padding{padding-left: 350px;}
.spl-font{font-family:ComicSansMS-Bold; font-size:30px;margine:0px;}
.insta img{
	width: 80px;
	height: 80px;
	border:solid #8F8F8F 1px;
	border-radius: 10px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	cursor:grabbing;
}
.cursor{cursor:grabbing;}